name: Build-APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Cordova
        run: npm install -g cordova

      - name: Prepare Android
        run: |
          cordova platform remove android || true
          cordova platform add android

      - name: Build APK
        run: |
          cordova build android --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: lambda2d-apk
          path: platforms/android/app/build/outputs/**/*.apk
